:root {
    --primary-color: #3f0030;
    /* Abu-abu Tua */
    --secondary-color: #ffff00;
    /* Oranye Terang */
    --background-color: #ECF0F1;
    /* Putih */
    --text-color: #BDC3C7;
    /* Abu-abu Muda */
    --sidebar-bg-color: #320028;
    /* Warna khusus untuk sidebar warna Mirage */
    --sidebar-hover-bg-color: #495057;
    /* Warna hover untuk link di sidebar warna Davy's Grey */
    --sidebar-text-color: white;
    /* Warna teks di sidebar */
    --sidebar-active-bg-color: #495057;
    /* Warna background link aktif di sidebar warna Davy's Grey */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.icon-shape {
    width: 54px;
    height: 54px;
    background-position: center;
    border-radius: 0.75rem;
}

.header {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.custom-button {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
}


.button {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

.button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.sidebar {
    background-color: var(--sidebar-bg-color);
}

.sidebar a {
    color: var(--sidebar-text-color);
}

.sidebar a.active {
    background-color: var(--sidebar-active-bg-color);
    color: var(--sidebar-text-color);
}